{{!--Setup the main.handlebars file so it's able to be used by Handlebars.--}}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Burgers!</title>
    <h1>Burger Eating App</h1>

    <link rel="stylesheet" type="text/css" href="../../../public/assets/css/burger_style.css">
</head>


<body>
    <p>
        <img src="http://www.seriouseats.com/images/2014/10/20141007-in-n-out-burger-avocado-bacon-2.jpg" width="250" height="214">
    </p>
    {{{ body }}}

</body>

</html>
